.page {
   transform: scale(.9);
   border: 5px rgb(156, 189, 166) solid;
   padding: 25px;
   border-radius: 10px;
   background-image: url("v915-wit-005-f.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    letter-spacing: 10px;
    
}
.rb {
    position: relative;
}
.pp {
    position: absolute;
    top: 20px;
    right: 80px;
}

